*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ebdcc3;
    font-family: "Times New Roman", serif;
}

.mainnav {
    width: 90%;
    display: flex;
    align-items: left;
}

.mainnav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 40px;
    transition: .3s;
}

.mainnav a:hover {
    color: #d4af37;
}

.navigation{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#1f2942;
    padding:15px 40px;
}

.logo{
    width:80px;
}

.menu-btn{
    display:none;
    color:white;
    font-size:35px;
    cursor:pointer;
}


@media screen and (max-width:768px){

    .navigation{
        flex-wrap:wrap;
    }

    .menu-btn{
        display:block;
    }

    .mainnav{
        display:none;
        width:100%;
        flex-direction:column;
        margin-top:20px;
    }

    .mainnav a{
        display:block;
        width:100%;
        padding:15px;
        border-top:1px solid rgba(255,255,255,.2);
        text-align:center;
    }

    .mainnav.show{
        display:flex;
    }

}